---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: dist

"on":
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  dist:
    runs-on: ubuntu-latest

    steps:
      - name: Generate token
        id: token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        with:
          app-id: ${{ secrets.TOKEN_EXCHANGE_APP }}
          private-key: ${{ secrets.TOKEN_EXCHANGE_KEY }}
          permission-contents: write
          permission-pull-requests: write
          permission-issues: write
          permission-packages: write

      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ steps.token.outputs.token }}

      - name: Build manifest
        uses: actionhippie/kustomize@v3
        with:
          target: dist/manifest.yml

      - name: Source rebase
        run: git pull --autostash --rebase

      - name: Commit changes
        if: github.event_name != 'pull_request'
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: ops@cloudpunks.de
          add: dist/manifest.yml
          message: "chore: automated dist update [skip ci]"
          push: true
          commit: --signoff

...
