---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: kustomize

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  kustomize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Build manifest
        uses: actionhippie/kustomize@e39d9340526efbce2016f78f39b880e2e09bf0e6 # v3
        with:
          print: true

...
