---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: kustomize

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  kustomize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build manifest
        uses: actionhippie/kustomize@9d9d827c912cf90bacc37cf835a76d766734c37a # v3
        with:
          print: true

...
