---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: linter

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Lint manifest
        uses: actionhippie/yamllint@912e7e92acb6c0eca2236ff4ae49bf66ef7a4ca3 # v1
        with:
          strict: true

...
