---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: linter

"on":
  workflow_dispatch:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Lint manifest
        uses: actionhippie/yamllint@f4afd8f308d71aec8b0a7e3f676f8b508f1742cb # v1
        with:
          strict: true

...
